.header{
    height: 150px;
    width: 960px;
    display: block;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color:#ffffff;
    z-index: 100;
    top: 0;
}

#tbhindheader{
    height: 150px;
    width: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    border-bottom: solid #cccccc 5px;
}

body{
    background-image: url("../images/folk-pattern.png")
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: absolute;
    border:25px solid #6ed3cf;
    margin-bottom: 0px;
    bottom: 0;
    background-color: #6ed3cf;
    color: white;
}

.navLinks{
    position: absolute;
    margin-bottom: 45px;
    bottom: 0;
    margin-right: 0px;
    right: 0;
}

.contentbox{
    display: block;
    margin: 200px auto;
    width: 960px;
    background-color: white; 
    border: solid 1px #cccccc;
}

#aboutMe{
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 15px;
    border-bottom: lightgray solid 3px;
    color: #6ed3cf;
}

#photoMe{
    width: 25%;
    float: left;
    margin-right: 15px;
    margin-left: 25px;
}
#bio{ 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: left;
    display: inline-block;
    margin-right: 25px;
    margin-top: 0px;
}
.footer{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom:0;
    height: 50px;
    background-color: rgb(61, 61, 61);
    border-top: #6ed3cf solid 5px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
#copy{
    margin-top: 25px;
    color: rgb(167, 167, 167);
}

.projects{
    margin-left: 25px;
    display: inline-flex;
    border: lightgray solid 1px;
    margin-bottom: 15px;
}


#contact{
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 15px;
    border-bottom: lightgray solid 3px;
    color: #6ed3cf;
}

#portfolio{
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 15px;
    border-bottom: lightgray solid 3px;
    color: #6ed3cf;
}

.projectLabels{
    position: absolute;
    text-align: center;
    margin-top: 200px;
    background-color: #6ed3cf;
    width: 300px;
    border-top: solid #6ed3cf 13px;
    border-bottom: solid #6ed3cf 13px;
    color: white;
}