            /* Background */
            body {background-color: black}
            /* Top of page */
            #titleimage{display: block; margin-left: auto; margin-right: auto; width: 25%; height: 25%;}
            /* Releases */
            h1 {text-align: center; color: white;}
            /* Album Titles */
            h2 {text-align: center; color: white; font-size: 125%; text-decoration: underline;}
            /*album Images*/
            .albums{display: inline-block; margin-left: 37.5%;  margin-right: 37.5%; width: 25%; height: 25%;
                    border-style: solid; border-width: 5px; border-color: white}
            /*Social Media Icon Styling*/
            .socialmediac{
                float: left;
                width: 30%;
                padding: 5px;
            }

            .socialmediar::after {
                content: "";
                clear: both;
                display: table;
            }
            /* Mobile Scaling */
            @media screen and (max-width: 500px) {
                .socialmediac{
                    width: 100%
                    }
                .albums{display: inline-block; margin-left: 5%;  margin-right: 5%; width: 90%; height: 90%;
                    border-style: solid; border-width: 5px; border-color: white
                    }
                #titleimage{display: block; margin-left: auto; margin-right: auto; width: 90%; height: 90%;}
            }
